<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hp.gall8">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/alleviate12"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity
            android:name=".MyPreferenceActivity"
            android:label="Preferences" />
        <activity
            android:name=".ScreenSlidePagerActivity"
            android:label="Preferences" />
        <activity android:name=".userlevel" />
        <activity
            android:name=".guardian"
            android:label="@string/title_activity_guardian" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAS7M4XDfopPKzSOOBTJri0joDwN_2VS5g" />

        <activity
            android:name=".psych"
            android:label="@string/title_activity_psych" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Instructions"></activity>
    </application>

</manifest>